* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}



.container {
  width: 100%;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilecard {
  width: 90%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  /* border: 1px solid black; */
  background: rgba(255, 255, 255, .1);
  border-radius: 16px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.bg-splash {
  position: absolute;
  
  background: rgb(187,95,240);
  background: linear-gradient(138deg, rgb(197, 123, 240) 28%, #60bbf0 100%); 
  border-radius: 100% 55% 50% 50%;
  filter: blur(50px);
  height: 80vh;
  width: 80vh;
  z-index: -10;
}

@media (prefers-color-scheme: dark) {

  body{
    background-color: #303030;
    color: #999;
  }
}