<%- include('./partials/head') %>
<div class="center">
  <div class="bg-splash"></div>
</div>
  <div class="container">
    <div class="profilecard">
      <h2><%- data.name %> <%- data.surname %></h2>
      <placeholder>kaas</placeholder>
      <button href="mailto:yassircode@gmail.com">E-mail</button>
      <button>GitHub</button>
    </div>
    </div>
  </div>

<%- include('./partials/foot') %>
